@section CSS {
    @*<link rel="stylesheet" href="~/css/registrar.css" />*@
}

@Html.Partial("_Navegacao")

<main class="container my-5">
    <h1>Dashboard administrador</h1>
    <br /><br />
    <p><a asp-controller="Administrador" asp-action="ProfissionaisPendentes" class="mb-3 w-100 btn btn-rounded-1 botao">Acesse os usuário pendentes para aprovação ou não...</a></p>
    <br /><br />
</main>

@Html.Partial("_Rodape")