@section CSS {
    @*<link rel="stylesheet" href="~/css/registrar.css" />*@
}

@Html.Partial("_Navegacao")

<main class="container my-5">
    <h1>Sou a página do administrador</h1>
    <br />
    <p><a asp-controller="Administrador" asp-action="ProfissionaisPendentes">Acesse os usuário pendentes para aprovação ou não...</a></p>

</main>

@Html.Partial("_Rodape")