USE [master]
GO
/****** Object:  Database [SERMAIS]    Script Date: 02/06/2023 20:20:42 ******/
CREATE DATABASE [SERMAIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SERMAIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SERMAIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SERMAIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SERMAIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SERMAIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SERMAIS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGENDA_PROFISSIONAL]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDA_PROFISSIONAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HORA_START] [nvarchar](max) NOT NULL,
	[HORA_END] [nvarchar](max) NOT NULL,
	[DIA] [nvarchar](max) NOT NULL,
	[ID_PROFISSIONALID] [int] NOT NULL,
	[ATIVO] [int] NOT NULL,
	[REPETE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AGENDA_PROFISSIONAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME_COMPLETO] [nvarchar](200) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DT_NASCIMENTO] [datetime2](7) NOT NULL,
	[TELEFONE] [nvarchar](50) NOT NULL,
	[ATIVO] [int] NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTAS]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QUEIXA] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[TIPO_REUNIAO] [nvarchar](max) NOT NULL,
	[ID_CLIENTEID] [int] NOT NULL,
	[ID_AGENDA_PROFISSIONALID] [int] NOT NULL,
 CONSTRAINT [PK_CONSULTAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PORTFOLIO]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PORTFOLIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESPECIALIDADE] [nvarchar](max) NULL,
	[VALOR_CONSULTA] [float] NULL,
	[FORMAS_PAGAMENTO] [nvarchar](max) NULL,
	[DURACAO_SESSAO] [nvarchar](max) NULL,
	[ATENDE_CONSULTA] [nvarchar](max) NULL,
	[TELEFONE] [nvarchar](50) NULL,
	[CELULAR] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[FORMACAO] [nvarchar](max) NULL,
	[SOBRE] [nvarchar](max) NULL,
	[ID_PROFISSIONALID] [int] NOT NULL,
	[IMAGEM_PROFILE] [nvarchar](max) NULL,
	[NOME_PROFISSIONAL] [nvarchar](max) NULL,
 CONSTRAINT [PK_PORTFOLIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFISSIONAL]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFISSIONAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CRP] [nvarchar](max) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[SOBRENOME] [nvarchar](50) NOT NULL,
	[NOME_COMPLETO] [nvarchar](200) NOT NULL,
	[DT_NASCIMENTO] [datetime2](7) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[TELEFONE] [nvarchar](50) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[CEP] [nvarchar](10) NOT NULL,
	[RUA] [nvarchar](100) NOT NULL,
	[BAIRRO] [nvarchar](100) NOT NULL,
	[CIDADE] [nvarchar](100) NOT NULL,
	[ESTADO] [nvarchar](100) NOT NULL,
	[NUMERO] [nvarchar](50) NOT NULL,
	[COMPLEMENTO] [nvarchar](100) NOT NULL,
	[OBSERVACAO] [nvarchar](max) NOT NULL,
	[ATIVO] [int] NOT NULL,
	[NIVEL] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_PROFISSIONAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02/06/2023 20:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SENHA] [nvarchar](64) NOT NULL,
	[POLITICA] [int] NOT NULL,
	[ATIVO] [int] NOT NULL,
	[ID_PROFISSIONALID] [int] NOT NULL,
	[TOKEN_RECUPERAR_SENHA] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AGENDA_PROFISSIONAL_ID_PROFISSIONALID]    Script Date: 02/06/2023 20:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_AGENDA_PROFISSIONAL_ID_PROFISSIONALID] ON [dbo].[AGENDA_PROFISSIONAL]
(
	[ID_PROFISSIONALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONSULTAS_ID_AGENDA_PROFISSIONALID]    Script Date: 02/06/2023 20:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_CONSULTAS_ID_AGENDA_PROFISSIONALID] ON [dbo].[CONSULTAS]
(
	[ID_AGENDA_PROFISSIONALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONSULTAS_ID_CLIENTEID]    Script Date: 02/06/2023 20:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_CONSULTAS_ID_CLIENTEID] ON [dbo].[CONSULTAS]
(
	[ID_CLIENTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PORTFOLIO_ID_PROFISSIONALID]    Script Date: 02/06/2023 20:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_PORTFOLIO_ID_PROFISSIONALID] ON [dbo].[PORTFOLIO]
(
	[ID_PROFISSIONALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_ID_PROFISSIONALID]    Script Date: 02/06/2023 20:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_ID_PROFISSIONALID] ON [dbo].[USUARIO]
(
	[ID_PROFISSIONALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDA_PROFISSIONAL] ADD  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[AGENDA_PROFISSIONAL] ADD  DEFAULT (N'') FOR [REPETE]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (N'') FOR [CPF]
GO
ALTER TABLE [dbo].[CONSULTAS] ADD  DEFAULT ((0)) FOR [ID_AGENDA_PROFISSIONALID]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (N'') FOR [TOKEN_RECUPERAR_SENHA]
GO
ALTER TABLE [dbo].[AGENDA_PROFISSIONAL]  WITH CHECK ADD  CONSTRAINT [FK_AGENDA_PROFISSIONAL_PROFISSIONAL_ID_PROFISSIONALID] FOREIGN KEY([ID_PROFISSIONALID])
REFERENCES [dbo].[PROFISSIONAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AGENDA_PROFISSIONAL] CHECK CONSTRAINT [FK_AGENDA_PROFISSIONAL_PROFISSIONAL_ID_PROFISSIONALID]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_AGENDA_PROFISSIONAL_ID_AGENDA_PROFISSIONALID] FOREIGN KEY([ID_AGENDA_PROFISSIONALID])
REFERENCES [dbo].[AGENDA_PROFISSIONAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_AGENDA_PROFISSIONAL_ID_AGENDA_PROFISSIONALID]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_CLIENTE_ID_CLIENTEID] FOREIGN KEY([ID_CLIENTEID])
REFERENCES [dbo].[CLIENTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_CLIENTE_ID_CLIENTEID]
GO
ALTER TABLE [dbo].[PORTFOLIO]  WITH CHECK ADD  CONSTRAINT [FK_PORTFOLIO_PROFISSIONAL_ID_PROFISSIONALID] FOREIGN KEY([ID_PROFISSIONALID])
REFERENCES [dbo].[PROFISSIONAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PORTFOLIO] CHECK CONSTRAINT [FK_PORTFOLIO_PROFISSIONAL_ID_PROFISSIONALID]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PROFISSIONAL_ID_PROFISSIONALID] FOREIGN KEY([ID_PROFISSIONALID])
REFERENCES [dbo].[PROFISSIONAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PROFISSIONAL_ID_PROFISSIONALID]
GO
USE [master]
GO
