@model UsuarioModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    var id_profissional = HttpContextAccessor.HttpContext.Session.GetInt32("id");
}
@section CSS {
    <link rel="stylesheet" href="~/css/recuperacaosenha.css" />
}


@Html.Partial("_Navegacao")


<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12 col-lg-7 d-flex justify-content-center align-items-center box-1-login">
                <div class="text-center">
                    <h1>Alterar senha</h1>
                    <br />
                    <form class="usuario-senha" asp-asp-controller="Login" asp-action="AlterandoSenhaLogado" method="post">
                        <div class="mb-3 d-flex align-items-center">
                            <input class="w-100 form-control input-login" value="@id_profissional" asp-for="ID_PROFISSIONAL.ID" id="id_profissional" type="hidden" readonly />
                        </div>
                        <p id="valida-igualdade" style="color: red; display: none;">Campos não estão iguais</p>
                        <div class="mb-3 d-flex align-items-center">
                            <input class="w-100 form-control input-login" asp-for="SENHA" id="password" type="password" placeholder="Digite sua nova senha" min-length="8" maxlength="100"  required/>
                            <i class="bi bi-eye-slash-fill icon-login icon-password"></i>
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <input class="w-100 form-control input-login" asp-for="SENHA_REPETE" id="password2" type="password" placeholder="Repetir senha" min-length="8" maxlength="100" required />
                            <i class="bi bi-eye-slash-fill icon-login icon-password2"></i>
                        </div>

                        <input class="mb-3 w-100 btn btn-rounded-1 botao" id="btn-submit" type="submit" value="Confirmar" />
                    </form>
                     </div>
            </div>
            <div class="col-md-12 col-lg-5 box-2-login">
                <div class="logo" style="text-align: center">
                    <img src="~/img/logoSerMais.png" style="justify-content:center" />
                    <br />
                    <br />
                    <h2 class="h2-white">RECUPERE<br  /> SUA <br />SENHA</h2>
                    <br />
                    <img src="~/img/logoRecuperarSenha.png" alt="imgLogin" style="width: 300px, justify-contet:center;" />
                </div>
            </div>
        </div>
    </div>
</div>




@Html.Partial("_Rodape")


<script>
    let btn = document.querySelector('.icon-password');
    let btn2 = document.querySelector('.icon-password2');

    btn.addEventListener('click', function () {
        let input = document.querySelector('#password');
        if (input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
        } else {
            input.setAttribute('type', 'password');
        }
    });

    btn2.addEventListener('click', function () {
        let input2 = document.querySelector('#password2');
        if (input2.getAttribute('type') == 'password') {
            input2.setAttribute('type', 'text');
        } else {
            input2.setAttribute('type', 'password');
        }
    });

    $(document).ready(function () {
        // Função para validar se as senhas são iguais
        function validarSenhas() {
            var senha = $('#password').val();
            var senhaRepete = $('#password2').val();
            if (senha === senhaRepete && senha !== '') {
                $('#btn-submit').prop('disabled', false); // Habilitar o botão de envio
                $('#valida-igualdade').hide(); // Ocultar a mensagem de validação
            } else {
                $('#btn-submit').prop('disabled', true); // Desabilitar o botão de envio
                $('#valida-igualdade').show(); // Exibir a mensagem de validação em vermelho
            }
        }

        // Chamar a função de validação ao digitar em qualquer um dos campos de senha
        $('#password, #password2').on('input', function () {
            validarSenhas();
        });
    });


</script>

