@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*É usado para adicionar uma folha de estilo apenas para essa View, e é referenciado no _Layout*@
@section CSS {
    <link rel="stylesheet" href="~/css/error404.css" />
}

<div class="d-flex justify-content-center align-items-center h-100">

    <div class="col-md-12 col-lg-7 d-flex justify-content-center">
        <div class="logo" style="text-align:center">
            <img src="~/img/logoError.png" style="text-align:center" />




        </div>
    </div>
    
</div>