@model ViewProfissionalUsuarioModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section CSS {
    <link rel="stylesheet" href="~/css/registrar.css" />
}

@Html.Partial("_Navegacao")

<main class="mb-5">
    <div class="container">
        <h1>Passo a passo para um profissional fazer parte da SerMais</h1>

        @*start row*@
        <div class="row">
            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">1</div>
                    <p class="text-green01 mt-2">Envie seus dados básicos pelo formulário abaixo</p>
                    <p>cadastre-se com seus dados pessoais e seus dados de contato, e não esqueça do seu CRP.</p>
                </div>
            </div>

            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">2</div>
                    <p class="text-green01 mt-2">Exponha em um campo de observação porque pretende utilizar a plataforma.</p>
                    <p>Explique de forma clara e coerente o porque gostaria de utilizar a plataforma SerMais e como isso te ajudaria.</p>
                </div>
            </div>

            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">3</div>
                    <p class="text-green01 mt-2">Nos envie seu currículo, analisaremos e se tudo der certo, você fará parte da SerMais.</p>
                    <p>Nossa equipe avaliará seu currículo e dentro de dois dias retornaremos se seu perfil foi aceito na plataforma.</p>
                </div>
            </div>
        </div>
        @*end row*@

        <hr />


        <form asp-controller="Login" asp-action="Cadastrar" method="post" enctype="multipart/form-data">

            <p><b>Dados Pessoas</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.NOME" class="form-control input-form input-login" placeholder="Nome..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.SOBRENOME" class="form-control input-form input-login" placeholder="Sobrenome..." />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.EMAIL" class="form-control input-form input-login" placeholder="E-mail..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="date" asp-for="Profissional.DT_NASCIMENTO" class="form-control input-form input-login" />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.TELEFONE" class="form-control input-form input-login" placeholder="Celular..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CPF" class="form-control input-form input-login" placeholder="CPF..." />
                </div>
            </div>
            @*end row*@


            <p class="mt-4"><b>Endereço</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CEP" class="form-control input-form input-login" placeholder="CEP..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.RUA" class="form-control input-form input-login" placeholder="Rua..." />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.BAIRRO" class="form-control input-form input-login" placeholder="Bairro..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CIDADE" class="form-control input-form input-login" placeholder="Cidade..." />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.NUMERO" class="form-control input-form input-login" placeholder="Número..." />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.COMPLEMENTO" class="form-control input-form input-login" placeholder="Complemento..." />
                </div>
            </div>
            @*end row*@

            <p class="mt-4"><b>Dados de Login</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Usuario.USUARIO" class="form-control input-form input-login" placeholder="Usuário..." />
                </div>
                <div class="col-md-6 my-2">
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Usuario.SENHA" class="form-control input-form input-login" placeholder="Senha..." />
                </div>
                <div class="col-md-6 my-2">
                    @*<input type="text" asp-for="SENHA" class="form-control input-form input-login" placeholder="Confirme sua senha..." />*@
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CRP" class="form-control input-form input-login" placeholder="CRP..." />
                </div>
                <div class="col-md-6 my-2">
                </div>
            </div>
            @*end row*@

            <p class="mt-4"><b>Dados de Login</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="file" asp-for="Profissional.FILE" class="form-control input-form input-login" />
                </div>
            </div>
            @*end row*@

            <div class="mt-4">
                <input class="mb-3 w-100 btn btn-rounded-1 botao" type="submit" value="Criar conta" />
            </div>

        </form>


    </div>
</main>

@Html.Partial("_Rodape")



