@model ViewProfissionalUsuarioModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section CSS {
    <link rel="stylesheet" href="~/css/registrar.css" />
}

@Html.Partial("_Navegacao")

<main class="my-5">
    <div class="container">
        <h1>Passo a passo para um profissional fazer parte da SerMais</h1>

        @*start row*@
        <div class="row">
            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">1</div>
                    <p class="text-green01 mt-2">Envie seus dados básicos pelo formulário abaixo</p>
                    <p>cadastre-se com seus dados pessoais e seus dados de contato, e não esqueça do seu CRP.</p>
                </div>
            </div>

            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">2</div>
                    <p class="text-green01 mt-2">Exponha em um campo de observação porque pretende utilizar a plataforma.</p>
                    <p>Explique de forma clara e coerente o porque gostaria de utilizar a plataforma SerMais e como isso te ajudaria.</p>
                </div>
            </div>

            <div class="col-md-4 text-center my-3">
                <div class="p-4 box-card">
                    <div class="box-sequencia">3</div>
                    <p class="text-green01 mt-2">Nos envie seu currículo, analisaremos e se tudo der certo, você fará parte da SerMais.</p>
                    <p>Nossa equipe avaliará seu currículo e dentro de dois dias retornaremos se seu perfil foi aceito na plataforma.</p>
                </div>
            </div>
        </div>
        @*end row*@

        <hr />

        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert" id="mensagem">
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemUsuarioExiste"] != null)
        {
            <div class="alert alert-warning" role="alert" id="mensagem">
                @TempData["MensagemUsuarioExiste"] <br>
                <p>Caso tenha esquecido seus dados de login, <a asp-controller="Login" asp-action="EsqueceuSenha">clique aqui</a>.</p>
            </div>
        }

        <form asp-controller="Login" asp-action="Cadastrar" method="post" enctype="multipart/form-data">

            <p><b>Dados Pessoas</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.NOME" class="form-control input-form input-login" placeholder="Nome..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.SOBRENOME" class="form-control input-form input-login" placeholder="Sobrenome..." required />
                </div>

                <div class="col-md-6 my-2">
                    <input type="email" asp-for="Profissional.EMAIL" class="form-control input-form input-login" placeholder="E-mail..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="date" asp-for="Profissional.DT_NASCIMENTO" class="form-control input-form input-login" required />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.TELEFONE" class="form-control input-form input-login" placeholder="Celular..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CPF" class="form-control input-form input-login" placeholder="CPF..." required />
                </div>
            </div>
            @*end row*@


            <p class="mt-4"><b>Endereço</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CEP" id="cep" class="form-control input-form input-login" placeholder="CEP..." maxlength="10" required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.RUA" id="rua" class="form-control input-form input-login" placeholder="Rua..." required />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.BAIRRO" id="bairro" class="form-control input-form input-login" placeholder="Bairro..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CIDADE" id="cidade" class="form-control input-form input-login" placeholder="Cidade..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.ESTADO" id="uf" class="form-control input-form input-login" placeholder="Estado..." required />
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.NUMERO" class="form-control input-form input-login" placeholder="Número..." required/>
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.COMPLEMENTO" class="form-control input-form input-login" value=" " placeholder="Complemento..."/>
                </div>
            </div>
            @*end row*@

            <p class="mt-4"><b>Dados de Login</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="email" asp-for="Usuario.EMAIL" class="form-control input-form input-login" placeholder="Usuário (Digite seu e-mail)" required />
                </div>
                <div class="col-md-6 my-2">
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Usuario.SENHA" class="form-control input-form input-login" placeholder="Senha..." required />
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" asp-for="Profissional.CRP" class="form-control input-form input-login" placeholder="CRP..." required />
                </div>
                <div class="col-md-6 my-2">
                    <textarea rows="5" asp-for="Profissional.OBSERVACAO" class="form-control input-form input-login" placeholder="Observação..." required></textarea>
                </div>
            </div>
            @*end row*@

            <p class="mt-4"><b>Anexo</b></p>
            @*start row*@
            <div class="row">
                <div class="col-md-6 my-2">
                    <input type="file" asp-for="Profissional.FILE" class="form-control input-form input-login" required />
                </div>
            </div>
            @*end row*@

            <div class="mt-4">
                <input class="mb-3 w-100 btn btn-rounded-1 botao" type="submit" value="Criar conta" />
            </div>

        </form>

    </div>
</main>

@Html.Partial("_Rodape")

<script>
    $(document).ready(function () {
        if ($(".alert-success").length > 0) {
            setTimeout(function () {
                $(".alert-success").slideUp(500);
            }, 8000);
        }
        else if ($(".alert-danger").length > 0) {
            setTimeout(function () {
                $(".alert-danger").slideUp(500);
            }, 8000);
        }
        else if ($(".alert-warning").length > 0) {
            setTimeout(function () {
                $(".alert-warning").slideUp(500);
            }, 8000);
        }
    });

    function limpa_formulário_cep() {
        // Limpa valores do formulário de cep.
        $("#rua").val("");
        $("#bairro").val("");
        $("#cidade").val("");
        $("#uf").val("");
    }
            
    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {

        //Nova variável "cep" somente com dígitos.
        var cep = $(this).val().replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                $("#rua").val("...");
                $("#bairro").val("...");
                $("#cidade").val("...");
                $("#uf").val("...");

                //Consulta o webservice viacep.com.br/
                $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#rua").val(dados.logradouro);
                        $("#bairro").val(dados.bairro);
                        $("#cidade").val(dados.localidade);
                        $("#uf").val(dados.uf);
                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                    }
                });
            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    });
    



</script>



