
@{
    @section CSS {
        <link rel="stylesheet" href="~/css/privacidade.css" />
    }

    ViewData["Title"] = "Politica de Privacidade";
}

@Html.Partial("_Navegacao")





<main class="container my-5 py-3">

    <h1>@ViewData["Title"]</h1>

    <p>Na SerMais, privacidade e segurança são prioridades e nos comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários/clientes. Por isso, está presente Política de Privacidade estabelece como é feita a coleta, uso e transferência de informações de clientes ou outras pessoas que acessam ou usam nosso site. </p>
     
    <p>Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas formas descritas nesta Política, sob as normas da Constituição Federal de 1988 (art. 5º, LXXIX; e o art. 22º, XXX – incluídos pela EC 115/2022), das normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis. </p>

    <p>Dessa forma, a SerMais, doravante denominada simplesmente como “SerMais”, inscrita no CNPJ/MF sob o nº 00.000.000/0000-00, no papel de Controladora de Dados, obriga-se ao disposto na presente Política de Privacidade.</p>

    <br />
    <h4>Quais dados coletamos sobre você e para qual finalidade? </h4>
    <p>Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar a prestação de serviços e aprimorar a experiência de uso. </p>

    <br />
    <h4>Dados pessoais fornecidos pelo titular para cadastro </h4>
    <ul>
        <li>Nome completo</li>
        <li>CPF</li>
        <li>RG</li>
        <li>ENDEREÇO</li>
        <li>CRP</li>
        <li>DATA NASCIMENTO</li>
        <li>TELEFONE</li>
        <li>E-MAIL</li>
    </ul>

    <br />
    <h4>Dados pessoais coletados automaticamente </h4>
    <ul>
        <li>Nome completo</li>
        <li>CPF</li>
        <li>TELEFONE</li>
    </ul>
    
    <br />
    <h4>Como coletamos os seus dados? </h4>
    <p>Nesse sentido, a coleta dos seus dados pessoais ocorre da seguinte forma: </p>
    
    <ul>
        <li>através de formulário</li>
        <li>através de agendamento de consulta</li>
    </ul>

    <br />
    <h4>Consentimento </h4>
    <p>É a partir do seu consentimento que tratamos os seus dados pessoais. O consentimento é a manifestação livre, informada e inequívoca pela qual você autoriza a SerMais a tratar seus dados. </p>
    <p>Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e armazenados mediante prévio e expresso consentimento.  </p>
    <p>O seu consentimento será obtido de forma específica para cada finalidade acima descrita, evidenciando o compromisso de transparência e boa-fé da SerMais para com seus usuários/clientes, seguindo as regulações legislativas pertinentes. </p>
    <p>Ao utilizar os serviços da SerMais e fornecer seus dados pessoais, você está ciente e consentindo com as disposições desta Política de Privacidade, além de conhecer seus direitos e como exercê-los. </p>
    <p>A qualquer tempo e sem nenhum custo, você poderá revogar seu consentimento. </p>
    <p>É importante destacar que a revogação do consentimento para o tratamento dos dados pode implicar a impossibilidade da performance adequada de alguma funcionalidade do site que dependa da operação. Tais consequências serão informadas previamente. </p>

    <br />
    <h4>Quais são os seus direitos? </h4>
    <p>A SerMais assegura a seus usuários/clientes seus direitos de titular previstos no artigo 18 da Lei Geral de Proteção de Dados. Dessa forma, você pode, de maneira gratuita e a qualquer tempo: </p>
    <p>Confirmar a existência de tratamento de dados, de maneira simplificada ou em formato claro e completo. </p>
    <p>Acessar seus dados, podendo solicitá-los em uma cópia legível sob forma impressa ou por meio eletrônico, seguro e idôneo. </p>
    <p>Corrigir seus dados, ao solicitar a edição, correção ou atualização destes. Limitar seus dados quando desnecessários, excessivos ou tratados em desconformidade com a legislação através da anonimização, bloqueio ou eliminação. </p>
    <p>Solicitar a portabilidade de seus dados, através de um relatório de dados cadastrais que a SerMais trata a seu respeito. Eliminar seus dados tratados a partir de seu consentimento, exceto nos casos previstos em lei. </p>
    <p>Revogar seu consentimento, desautorizando o tratamento de seus dados. Informar-se sobre a possibilidade de não fornecer seu consentimento e sobre as consequências da negativa. </p>

    <br />
    <h4>Como você pode exercer seus direitos de titular? </h4>
    <p>
        Para exercer seus direitos de titular, você deve entrar em contato com a SerMais através dos seguintes meios disponíveis:
        <br />Telefone: (00) 0000-0000
        <br />Email: atendimento@sermais.com.br
    </p>
    <p>De forma a garantir a sua correta identificação como titular dos dados pessoais objeto da solicitação, é possível que solicitemos documentos ou demais comprovações que possam comprovar sua identidade. Nessa hipótese, você será informado previamente. </p>

</main>

@Html.Partial("_Rodape")