
@{
    @section CSS {
        <link rel="stylesheet" href="~/css/privacidade.css" />
    }

    ViewData["Title"] = "Politica de Privacidade";
}

@Html.Partial("_Navegacao")

<div class="navegacao">
    <img src="~/img/logoSerMais.png" /> @*colocar logo SermaisWhite no lugar*@
</div>

<h1>@ViewData["Title"]</h1>


<div>
    <div class="texto1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue,
        </p>
    </div>
    <br />
    <br />

    <div class="informacoes">
        <h4><b>Coleta de Informações</b></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue
        </p>
        <br />
        <br />
        <h4><b>Uso de Informações Pessoais</b></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue
        </p>
        <br />
        <br />
        <h4><b>Divulgações de Informaçoes Pessoais</b></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue
        </p>
        <br />
        <br />
        <h4><b>Segurança de Informações Pessoais</b></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue
        </p>
        <br />
        <br />
        <h4><b>Como Mantemos os seus dados seguros?</b></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper
            . Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br />
            Praesent dapibus mauris augue
        </p>
    </div>
           
</div>

@Html.Partial("_Rodape")