
@{
    @section CSS {
        <link rel="stylesheet" href="~/css/privacidade.css" />
    }

    ViewData["Title"] = "Politica de Privacidade";
}

@Html.Partial("_Navegacao")





<main class="container my-5 py-3">

    <h1>@ViewData["Title"]</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <br />
    <h4>Coleta de Informações</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
    <br />
    <h4>Uso de Informações Pessoais</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
    <br />
    <h4>Divulgações de Informaçoes Pessoais</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
    <br />
    <h4>Segurança de Informações Pessoais</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
    <br />
    <h4>Como Mantemos os seus dados seguros?</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ex laoreet nisi pretium ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

           
</main>

@Html.Partial("_Rodape")