@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.Partial("_Navegacao")


<main class="container my-5 py-3">

    <h1>Quem somos?</h1>
    <p>A SerMais é uma plataforma elaborada muito cuidadosamente com o objetivo de ajudar você na condução da sua terapia online. Entendemos que a vida cotidiana nos impede, muitas vezes, de colocarmos em prática alguns projetos, e temos uma tendência a deixarmos para depois, geralmente, aqueles projetos que estão diretamente ligados à nossa intimidade e autocuidado.</p>

    <br />
    <h4 class="text-center">Nossas metas e valores </h4>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-center flex-wrap box-about h-100">
                <i class="bi bi-gear-fill"></i>
                <p><b>Transformação e Praticidade</b></p>
                <p>Acreditamos que a terapia pode transformar a vida de qualquer pessoa, em qualquer idade, em qualquer momento de suas vidas.Queremos tornar a sua experiência com a terapia muito mais tranquila e acessível, através de um processo de pesquisas e agendamentos prático, ágil e inteligente, em qualquer lugar do mundo que você esteja.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-center flex-wrap box-about h-100">
                <i class="bi bi-lightbulb-fill"></i>
                <p><b>Experiência e Qualidade</b></p>
                <p>O nosso foco é transformar o processo terapêutico em algo muito mais acessível e amplo, para o maior número de pessoas possível.Estamos empenhados em manter os mais altos padrões de qualidade de atendimento através de todos os psicólogos listados na plataforma, revisando regularmente todos os feedbacks e sugestões de melhorias.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-center flex-wrap box-about h-100">
                <i class="bi bi-person-bounding-box"></i>
                <p><b>Desmistificar e Acreditar</b></p>
                <p>Trabalhamos incansavelmente para promover o bem-estar emocional e desmistificar o processo terapêutico, e acreditamos que isso somente é possível através do compartilhamento de conhecimentos, acesso à informação e vínculo terapêutico.Temos a missão de eliminar o sofrimento emocional de quem nos procura e queremos que seja tão comum e simples buscar tratamento para a saúde mental quanto é para eliminar as dificuldades físicas.</p>
            </div>
        </div>
    </div>

    <br /><br />
    <h4>Sobre os nossos psicólogos​​</h4>
    <p>Quando selecionamos um psicólogo para integrar o grupo de profissionais da SerMais é porque temos certeza que aquele profissional é devidamente capacitado para realizar atendimentos de qualidade.</p>
    <p>O índice de qualidade dos nossos serviços e também dos serviços de cada psicólogo é medido continuamente pela SerMais, que se baseia no feedback expresso e tácito dos pacientes.</p>
    <p>O paciente sempre será o nosso principal foco, porque entendemos que o contexto que envolve a terapia vai muito além do que é tratado somente dentro de uma sessão, mas, também, desde o momento em que o paciente decide procurar um psicólogo, além de toda a sua experiência com cada um da equipe que ele tem contato.</p>

    <br />
    <h4>Nosso Compromisso​​</h4>
    <p>Sabemos a seriedade e responsabilidade que envolvem um processo terapêutico e, por isso, reforçamos sempre o nosso comprometimento em entregar um serviço de qualidade e que corresponda às expectativas dos pacientes que nos procuram.</p>
    <p>Acreditamos que para que todas as fases que envolvem a psicoterapia sejam devidamente adequadas, é necessário o alinhamento da nossa filosofia e dos nossos valores com os profissionais que trabalham conosco.</p>
    <p>Nos dedicamos profundamente em selecionar profissionais experientes e qualificados para que o paciente sinta confiança em agendar a sua consulta e veja suas angústias e necessidades serem devidamente acolhidas e respeitadas.</p>
    <p>No entanto, também entendemos que alguns pacientes podem não se identificar com o profissional escolhido ao longo do processo terapêutico e isso é absolutamente normal. A identificação e a empatia entre paciente e psicólogo são a chave principal para uma terapia eficaz.</p>
    <p>Pensando nisso, se por alguma razão o paciente sentir que não está aproveitando ao máximo os atendimentos e se não estiver se sentindo confortável com os resultados obtidos, nos disponibilizamos em agendar uma consulta adicional, sem custo, com outro profissional.</p>

    <br />
    <h4>Ajudamos vidas em busca de significado, propósito ou autoconhecimento mais profundos.​​</h4>
    <p>Entendemos também, que o desenvolvimento pleno da personalidade humana se dará pelas condições e suportes favoráveis disponíveis no transcurso da história de vida do indivíduo, em suas interrelações com a família, a cultura e a sociedade como um todo (o coletivo) e, principalmente, com si-mesmo.</p>
    <p>Incentivamos a construção e a reconstrução de pontes psíquicas, que por algum motivo não existem mais ou de alguma forma foram abandonadas ou estão intransitáveis, inaptas ou mesmo perdidas. Neste processo, chamado de PSICOTERAPIA, as pessoas que nos procuram são desafiadas a olhar para si e, neste mergulho, cultivar a esperança de que uma faísca apareça e, como uma pequena luz em meio as sombras, haja elucidações e entendimentos sobre fatos, sentimentos, sensações, pensamentos e intuições que estavam ocultos até então, abrindo, assim, a possibilidade para se trilhar novos caminhos, num exercício contínuo na vida, rumo à transformação.</p>

</main>

@Html.Partial("_Rodape")