@*Injeção que vem do Programa.cs para usar diretamente na Partial _Navegacao acesso ao Session e verficar se há algum usuário logado*@
@inject IHttpContextAccessor HttpContextAccessor

@{
    // crio a variavel username para que caso haja um usuário logado o método GetString pega esse username e salva
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
    var id = HttpContextAccessor.HttpContext.Session.GetInt32("id");
}
@{
}
<header class="header">
    <div class="container">
        <div class="wrapper">
            <div class="header-item-left">
                <a asp-controller="Home" asp-action="Index" class="brand">
                    <img src="~/img/logo-branco.png"></img>
                </a>
            </div>
            <div class="header-item-center">
                <div class="overlay"></div>
                <nav class="menu">
                    <div class="menu-mobile-header">
                        <button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
                        <div class="menu-mobile-title"></div>
                        <button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
                    </div>
                    <ul class="menu-section">

                        @*Item 1*@
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

                        @*Item 2*@
                        <li><a asp-controller="Home" asp-action="ComoFunciona">Como Funciona?</a></li>

                        @*Item 3*@
                        <li class="menu-item-has-children">
                            <a href="#">Sobre nós <i class="ion ion-ios-arrow-down"></i></a>
                            <div class="menu-subs menu-subs-mobile menu-column-1">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Sobre">Quem somos?</a></>
                                    <li><a asp-controller="Home" asp-action="Privacy">Política de Privacidade</a></>
                                </ul>
                            </div>
                        </li>                        

                        @*Item 4*@
                        @*<li><a asp-controller="" asp-action="">Contato</a></li>*@

                        @*Item 5*@
                        <li class="menu-item-has-children">
                            <a asp-controller="Profissionais" asp-action="Index">Profissionais</a>
                        </li>

                        @if (@username == null)
                        {
                        @*Item 6*@
                        <li class="menu-item-has-children">
                            <a href="#">Login <i class="ion ion-ios-arrow-down"></i></a>
                            <div class="menu-subs menu-subs-mobile menu-column-1" style="right: 140px">
                                <ul>
                                    <li><a asp-controller="Login" asp-action="Index">Iniciar Sessão</a></li>
                                    <li><a asp-controller="Login" asp-action="Registrar">Registre-se</a></li>
                                    <li><a asp-controller="Login" asp-action="EsqueceuSenha">Esqueci minha senha</a></li>
                                </ul>
                            </div>
                        </li>
                        }

                        @*Item 7*@
                        @*aqui verifico se há um usuário com sessão iniciada, se sim, ele exibe o bloco abaixo, se não, ele ignora*@
                        @if (@username != null)
                        {
                            <li class="menu-item-has-children">
                                <a href="#">Perfil <i class="ion ion-ios-arrow-down"></i></a>
                                <div class="menu-subs menu-subs-mobile menu-column-1">
                                    <ul>
                                        <li>
                                            <a asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="@id" asp-route-nome="@username" class="d-flex align-items-center">
                                                <i class="bi bi-person-circle" style="font-size: 24px; margin-right: 8px"></i> Acessar Perfil
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Login" asp-action="AlterarSenhaLogado">
                                                <i class="bi bi-question-circle-fill" style="font-size: 24px; margin-right: 8px"></i> Alterar minha senha
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Autorizacao" asp-action="Logout" class="d-flex align-items-center">
                                                <i class="bi bi-box-arrow-left" style="font-size: 24px; margin-right: 8px"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="header-item-right">
                <button type="button" class="menu-mobile-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
