@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="footer p-5">
    <div class="container mt-5">
       <div class="d-flex justify-content-center mb-5">
            <img src="~/img/logo-branco.png" alt="logo" />
       </div>
       <hr />
       <br />
        <div class="row">
            <div class="col-md-4 mt-4">
                <h2 class="h2-white">Páginas</h2>
                <div class="row">
                    <div class="col-md-6 box-paginas">
                        <a class="" asp-controller="" asp-action="">Home</a><br />
                        <a class="" asp-controller="" asp-action="">Sobre nós</a><br />
                        <a class="" asp-controller="" asp-action="">Política de Privacidade</a><br />
                        <a class="" asp-controller="" asp-action="">Política de Cookies</a><br />
                    </div>
                    <div class="col-md-6 box-paginas">
                    </div>
                </div>
            </div>

            <div class="col-md-4 box-contato mt-4">
                <h2 class="h2-white">Contato</h2>

                <p><i class="bi bi-envelope icon-rodape"></i><a class="link-contato" href="mailto:contato@sermais.com.br">contato@sermais.com.br</a></p>
                <p><i class="bi bi-telephone-fill icon-rodape"></i> (11) 5555-1234</p>
                <p><i class="bi bi-geo-alt icon-rodape"></i> Rua das Sereias, 123, Praia do Mar Azul, Cidade do Oceano, Estado do Sul.</p>
            </div>

            <div class="col-md-4 mt-4">
                <h2 class="h2-white">Redes sociais</h2>

                <a class="link-contato" href="#"><i class="bi bi-facebook icon-rodape"></i></a>
                <a class="link-contato" href="#"><i class="bi bi-whatsapp icon-rodape"></i></a>
                <a class="link-contato" href="#"><i class="bi bi-instagram icon-rodape"></i></a>
                <a class="link-contato" href="#"><i class="bi bi-linkedin icon-rodape"></i></a>
                <a class="link-contato" href="#"><i class="bi bi-twitter icon-rodape"></i></a>
            </div>
        </div>

        <hr />

        <p class="text-center white">Política e direitos autorais</p>
    </div>
</footer>
