.footer {
    background: #3E514A;
}

.white {
    color: #fff !important;
}

.box-paginas a,
.box-contato p,
.link-contato {
    color: #fff !important;
    transition: all 0.5s;
}

    .box-paginas a:hover,
    .link-contato:hover {
        opacity: 0.5;
        transition: all 0.5s;
    }

.icon-rodape {
    font-size: 24px;
    margin-right: 8px;
    color: #fff;
}


