@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section CSS {
    <link rel="stylesheet" href="~/css/profissionais.css" />
}

@Html.Partial("_Navegacao")

<main class="container my-5">

    <h1>A SerMais recomenda esses psicólogos</h1>
    <div class="my-2">
        <p>Como agendar uma consulta com psicólogo Online?<br /></p>
        <ul>
            <li>Primeiro passo é escolher um psicólogo ou psiquiatra da sua escolha</li>
            <li>Selecione um horário e agende a consulta</li>
            <li>Nesta área você conseguirá visualizar em quais horários o profissional escolhido pode atender você. Então, basta clicar em agendar horário.</li>
        </ul>
    </div>
    <div class="row">

        @*profissional*@
        <div class="col-md-12 my-3">
            <div class="row box-profissional">
                <div class="col-md-12 col-lg-6">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 box-img-profissional">
                                <img class="img-profissional" src="~/img/home/profisisonal.png" alt="imagem do profissional" />
                            </div>
                            <div class="col-12 col-md-6 p-2 box-about-profissional">
                                <p><b>Bruno Oliveira</b></p>
                                <p><span>Psicólogo</span> | <span>Sorocaba SP</span></p>
                                <p><b>CRP: </b>0000000</p>
                                <p><span>Ansiedade</span> | <span>Depressão</span> | <span>TDAH</span> | <span>Bordeline</span></p>
                            </div>
                        </div>
                        <div class="py-2 box-about-profissional">
                            <h2>R$ 155,00</h2>
                            <p><b>Duração da sessão: </b>50 á 60 Minutos</p>
                            <p><i class="bi bi-telephone-fill"></i> (15) 32665878 - Secretária das 7hrs ás 18hrs</p>
                            <p><i class="bi bi-whatsapp"></i> (15) 988097406 - Bruno de Oliveira</p>
                        </div>
                        <div class="">
                            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="1" asp-route-nome="wesley">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p>Aqui seria o calendário</p>
                    </div>
                </div>
            </div>
        </div>

        @*profissional*@
        <div class="col-md-12 my-3">
            <div class="row box-profissional">
                <div class="col-md-12 col-lg-6">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 box-img-profissional">
                                <img class="img-profissional" src="~/img/home/profisisonal.png" alt="imagem do profissional" />
                            </div>
                            <div class="col-12 col-md-6 p-2 box-about-profissional">
                                <p><b>Bruno Oliveira</b></p>
                                <p><span>Psicólogo</span> | <span>Sorocaba SP</span></p>
                                <p><b>CRP: </b>0000000</p>
                                <p><span>Ansiedade</span> | <span>Depressão</span> | <span>TDAH</span> | <span>Bordeline</span></p>
                            </div>
                        </div>
                        <div class="py-2 box-about-profissional">
                            <h2>R$ 155,00</h2>
                            <p><b>Duração da sessão: </b>50 á 60 Minutos</p>
                            <p><i class="bi bi-telephone-fill"></i> (15) 32665878 - Secretária das 7hrs ás 18hrs</p>
                            <p><i class="bi bi-whatsapp"></i> (15) 988097406 - Bruno de Oliveira</p>
                        </div>
                        <div class="">
                            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="1" asp-route-nome="wesley">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p>Aqui seria o calendário</p>
                    </div>
                </div>
            </div>
        </div>

        @*profissional*@
        <div class="col-md-12 my-3">
            <div class="row box-profissional">
                <div class="col-md-12 col-lg-6">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 box-img-profissional">
                                <img class="img-profissional" src="~/img/home/profisisonal.png" alt="imagem do profissional" />
                            </div>
                            <div class="col-12 col-md-6 p-2 box-about-profissional">
                                <p><b>Bruno Oliveira</b></p>
                                <p><span>Psicólogo</span> | <span>Sorocaba SP</span></p>
                                <p><b>CRP: </b>0000000</p>
                                <p><span>Ansiedade</span> | <span>Depressão</span> | <span>TDAH</span> | <span>Bordeline</span></p>
                            </div>
                        </div>
                        <div class="py-2 box-about-profissional">
                            <h2>R$ 155,00</h2>
                            <p><b>Duração da sessão: </b>50 á 60 Minutos</p>
                            <p><i class="bi bi-telephone-fill"></i> (15) 32665878 - Secretária das 7hrs ás 18hrs</p>
                            <p><i class="bi bi-whatsapp"></i> (15) 988097406 - Bruno de Oliveira</p>
                        </div>
                        <div class="">
                            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="1" asp-route-nome="wesley">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p>Aqui seria o calendário</p>
                    </div>
                </div>
            </div>
        </div>

        @*profissional*@
        <div class="col-md-12 my-3">
            <div class="row box-profissional">
                <div class="col-md-12 col-lg-6">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 box-img-profissional">
                                <img class="img-profissional" src="~/img/home/profisisonal.png" alt="imagem do profissional" />
                            </div>
                            <div class="col-12 col-md-6 p-2 box-about-profissional">
                                <p><b>Bruno Oliveira</b></p>
                                <p><span>Psicólogo</span> | <span>Sorocaba SP</span></p>
                                <p><b>CRP: </b>0000000</p>
                                <p><span>Ansiedade</span> | <span>Depressão</span> | <span>TDAH</span> | <span>Bordeline</span></p>
                            </div>
                        </div>
                        <div class="py-2 box-about-profissional">
                            <h2>R$ 155,00</h2>
                            <p><b>Duração da sessão: </b>50 á 60 Minutos</p>
                            <p><i class="bi bi-telephone-fill"></i> (15) 32665878 - Secretária das 7hrs ás 18hrs</p>
                            <p><i class="bi bi-whatsapp"></i> (15) 988097406 - Bruno de Oliveira</p>
                        </div>
                        <div class="">
                            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="1" asp-route-nome="wesley">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p>Aqui seria o calendário</p>
                    </div>
                </div>
            </div>
        </div>

        @*profissional*@
        <div class="col-md-12 my-3">
            <div class="row box-profissional">
                <div class="col-md-12 col-lg-6">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 box-img-profissional">
                                <img class="img-profissional" src="~/img/home/profisisonal.png" alt="imagem do profissional" />
                            </div>
                            <div class="col-12 col-md-6 p-2 box-about-profissional">
                                <p><b>Bruno Oliveira</b></p>
                                <p><span>Psicólogo</span> | <span>Sorocaba SP</span></p>
                                <p><b>CRP: </b>0000000</p>
                                <p><span>Ansiedade</span> | <span>Depressão</span> | <span>TDAH</span> | <span>Bordeline</span></p>
                            </div>
                        </div>
                        <div class="py-2 box-about-profissional">
                            <h2>R$ 155,00</h2>
                            <p><b>Duração da sessão: </b>50 á 60 Minutos</p>
                            <p><i class="bi bi-telephone-fill"></i> (15) 32665878 - Secretária das 7hrs ás 18hrs</p>
                            <p><i class="bi bi-whatsapp"></i> (15) 988097406 - Bruno de Oliveira</p>
                        </div>
                        <div class="">
                            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="1" asp-route-nome="wesley">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p>Aqui seria o calendário</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="" asp-action="">Carregar mais profissionais</a>
        </div>

    </div>

</main>

@Html.Partial("_Rodape")